/*Header top section style starts*/
#logo{
  font-size: 30px;
  font-family:Emilys Candy;
  font-weight: bolder;
  color: #d4af37;
}

.logo{
  font-size: 50px;
  font-family:Emilys Candy;
  font-weight: bolder;
  color: #d4af37;
}

.header-top {
    background: #d4af37;
}
.header-top .social-list li a {
    color: #fff;
    height: 30px;
    line-height: 30px;
}
.top-contact {
    list-style: none;
    padding: 4px 0 6px;
    margin: 0;
}
.top-contact li {
    display: inline-block;
    margin-right: 15px;
}
.top-contact li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 0 0 5px;
}
.top-contact li a i {
    padding-right: 8px;
}

.social-list {
    list-style: none;
    padding: 0;
}
.social-list li {
    display: inline-block;
}
.social-list li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.social-list li a:hover i , .navbar-collapse ul li:hover a{
    color: #888 !important;
}

.navbar .dropdown-menu a{
  color: #0288d1 !important;
  font-weight: bold !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  background-color: #004d40;
}

.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4000;
}

.main-nav-scrolled{
  background-color: rgba(0,0,0,0.4);
  font-size: 14px;
}

/*Header top section style ends here*/

/*Subscribe icone css*/

.login-btn{
  position: fixed;
  left: 0px;
  top: 35%;
  z-index: 10000;
  border-radius: 0 4px 4px 0;
  background-color: #505050;
  color: #fff;
  font-size: 20px;
  -webkit-transition: width 600ms ease-in;
  -moz-transition: width 600ms ease-in;
  -ms-transition: width 600ms ease-in;
  -o-transition: width 600ms ease-in;
  transition: width 600ms ease-in;
  }
.login-btn i{
  padding: 10px;
  text-shadow: 0 0 1px #333;
}

.login-btn span{
  display: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  line-height: .9;
  font-weight: 300;
  width: 0px;
  
}
.login-btn:hover{
  color: #d4af37;
  text-decoration: none;

}
.login-btn:hover span{  
  display: inline-block; 
  width: auto;
}
.login-btn:hover i{ 
  border-right: 1px solid #000;
}
/*Subscribe icone css ends*/

/*Banner section style starts here*/

.carousel-item img{
  height: 700px;
}

.carousel-middle-text{
  background-color: rgba(0,0,0,0.7);
  bottom: 200px;
  width: 50%;
  margin: 0 auto;
}

.carousel-middle-text h1{
  font-family: Kaushan Script;
  font-size: 60px;
  font-weight: bold;
}

.carousel-middle-text p{
  font-family : cursive;
  font-size: 30px;
  font-weight: bold;
}

.carousel-text-down-right , .carousel-text-down-left{
  background-color: #000;
  font-family : cursive;
  width: 50%;
  margin: 0 auto;
}

.carousel-control-next-icon i, .carousel-control-prev-icon i{
  border: 3px solid #d4af37;
  padding:10px 20px;
  border-radius: 50%; 
  font-weight: bolder;
  font-size: 50px;
  color: #fff;
}
/*Banner section style ends here*/

/*short-breef section style starts here*/

#short-breef {
  overflow: hidden;
  padding: 100px 0 85px;
  position: relative;
  z-index: 1; 
}

#short-breef:before {
    background-image: url("../img/bg-8.png");
    background-position: center center;
    background-size: cover;
    content: "\'";
    height: 800px;
    left: 40%;
    margin-left: 379px;
    position: absolute;
    top: -66px;
    width: 900px; 
}

/*#short-breef{
  margin-top: 250px;
  margin-bottom: 100px;
}*/

#short-breef .collection-card .img-fluid{
  height: 400px;
}

.short-breef-right-text{
  padding-top: 50px;
}


.short-breef-right-text h2{
  font-family: cursive;
  font-weight: bold;
}

.border-frame {
    border-style: solid;
    border-width: 2px;
    border-color: #d4af37;
    border-color: rgba(212, 175, 55, 0.3);
    right: 15px;
    top: 15px;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
}
.border-frame {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

.img-fluid .border-frame .corner-left {
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.border-frame .corner-left {
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.img-fluid .border-frame .corner-right {
    position: absolute;
    top: -21px;
    right: -20px;
}
.border-frame .corner-right {
    position: absolute;
    top: -21px;
    right: -20px;
}
/*short-breef section style ends here*/

.jarallax {
  height: 130vh;
  background-image: url(../img/pic-1.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.intro-2 {
  height: 700px;
}

#special-dishas img{
  height: 300px;
}

.testimonial-carousel .testimonial .avatar img {
    max-width: 300px;
}

#special-dishas h2{
  font-family: Kaushan Script;
  color: #d4af37;
}

#special-dishas h4{
  font-family: cursive;
  color: #fff !important;
}


/*===================================
set_menu area
=====================================*/
.set_menu_area {
  overflow: hidden;
  padding: 100px 0 85px;
  position: relative;
  z-index: 1; 
}
.set_menu_area:before {
    background-image: url("../img/bg-9.png");
    background-position: center center;
    background-size: cover;
    content: "\'";
    height: 400px;
    right: 75%;
    margin-left: 379px;
    position: absolute;
    top: -66px;
    width: 400px; 
}

.set_menu_area .section_tittle_content{
  text-align: center;
  padding-bottom: 50px;
}

.set_menu_area .section_tittle_content h2{
  font-family: Kaushan Script;
  color: #d4af37;
}

.set_menu_area .section_tittle_content span{
  font-family: cursive;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .set_menu_area:after {
      margin-left: 200px; } }
  .set_menu_area .single_set_menu img {
    margin-bottom: 5px;
    width: 100%; }
  .set_menu_area .single_set_menu .set_menu li {
    color: #404040;
    font-weight: 600;
    margin: 10px 0;
    overflow: hidden; }
    .set_menu_area .single_set_menu .set_menu li span {
      color: #FF5E18;
      float: right; }
  .set_menu_area .single_set_menu .set_menu li.total {
    border-top: 1px dashed #cacaca;
    margin-top: 13px;
    padding-top: 10px; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .set_menu_area {
      padding: 60px 0 25px; }
      .set_menu_area .single_set_menu {
        margin-bottom: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .set_menu_area .set_menu_area {
      padding: 80px 0 65px; 
} }


/*===================================
our_menu area
=====================================*/

#short-menu-list .nav-tabs{
  background-color: transparent;
}

#short-menu-list:after {
  background: #141414 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; 
}
#short-menu-list .row.isotope {
  width: 100%;
  margin-right: 0;
  margin-left: 7.5px; 
}
#short-menu-list .section_tittle {
  margin-bottom: 95px; 
}
#short-menu-list .section_tittle h1 {
  font-family: Kaushan Script;
  color: #d4af37; 
}
#short-menu-list .section_tittle span {
  font-family: cursive;
}
#short-menu-list .single_menu .menu_content {
  border-bottom: 1px dashed #d5d5d5;
  margin-bottom: 35px;
  padding-bottom: 15px; 
}
#short-menu-list .single_menu .menu_content h5 {
  color: #e2e2e2;
  font-weight: 600;
  margin-bottom: 10px; 
}
#short-menu-list .single_menu .menu_content:hover {
  color: #FF5E18; 
}
#short-menu-list .single_menu .menu_content:hover h5 {
  color: #FF5E18; 
}
#short-menu-list .single_menu .menu_content p {
  color: #ededed;
  margin-bottom: 10px;
  font-size: 15px; 
}
#short-menu-list .single_menu .menu_content span {
  color: #e2e2e2;
  font-weight: 600; 
}

.our_menu_tabs{
  border: 1px solid transparent;
}

.our_menu_tabs {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  border-bottom: medium none !important; 
}
.our_menu_tabs li {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  display: block;
  width: 100%; 
}
.our_menu_tabs li a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: transparent none repeat scroll 0 0 !important;
  border: medium none;
  color: #e2e2e2;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 59px;
  overflow: hidden;
  padding-top: 10px; 
}
.our_menu_tabs li a .icon_wraper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  float: left;
  height: 50px;
  margin-right: 32px;
  position: relative;
  width: 50px;
  overflow: hidden; 
}
.our_menu_tabs li a .icon_wraper span {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
}
.our_menu_tabs li a .icon_wraper .icon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 0;
  visibility: visible; 
}
.our_menu_tabs li a .icon_wraper .hover_icon {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: 50%;
  visibility: hidden; 
}
.our_menu_tabs li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: transparent none repeat scroll 0 0 !important;
  border: medium none !important;
  color: #FF5E18; 
}
        
.our_menu_tabs li a:hover .hover_icon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 0;
  visibility: visible; 
}

.nav.nav-tabs {
  border-bottom: medium none; 
}

.our_menu_tabs li.active a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: transparent none repeat scroll 0 0 !important;
  border: medium none !important;
  color: #FF5E18; 
}

.nav {
  border: 1px solid transparent !important;
  box-shadow: none;
}


@media only screen and (min-width: 0px) and (max-width: 767px) {
  .section_tittle {
    margin-bottom: 50px; 
}

  .our_menu_tabs {
    margin-bottom: 40px; }
    .our_menu_tabs li {
      display: inline-block;
      float: none;
      width: auto; }
      .our_menu_tabs li a {
        font-size: 15px;
        line-height: 27px;
        padding: 0 8px;
   }
        .our_menu_tabs li a .icon_wraper {
          display: none; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_tittle {
    margin-bottom: 70px; }

  .our_menu_tabs {
    text-align: center; }
    .our_menu_tabs li a {
      font-size: 16px;
      line-height: 25px;
      padding: 8px 15px;
      margin-bottom: 3px; }
      .our_menu_tabs li a .icon_wraper {
        display: inline-block;
        float: none;
        height: 30px;
        margin: 0 25px;
        width: 30px; }

  .single_menu .menu_content p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 5px; }
  .single_menu .menu_content h5 {
    margin-bottom: 8px; 
  } 
}


/*most popular section style starts*/

#most-popular-menu .carousel-item img{
  height: auto;
}

#most-popular-menu h2{
  font-family: Kaushan Script;
/*  font-size: 60px;*/
  font-weight: bold;
  color: #d4af37;
}

#most-popular-menu p{
  font-family: cursive;
}

#most-popular-menu h5{
  font-family: cursive;
}

#most-popular-menu strong{
  font-family: Kaushan Script;
  color: #d4af37;
}

#most-popular-menu {
  overflow: hidden;
  padding: 100px 0 85px;
  position: relative;
  z-index: 1; 
}

#most-popular-menu:before {
    background-image: url("../img/bg-7.png");
    background-position: center center;
    background-size: cover;
    content: "\'";
    height: 500px;
    left: 60%;
    margin-left: 379px;
    position: absolute;
    top: -66px;
    width: 900px; 
}

.fa-heart{
  color: red !important;
}

#most-popular-menu .btn-floating i{
  background-color: #d4af37;
}

#most-popular-menu .primary-color{
  background-color: #d4af37 !important;
}


/*Most popular section style ends*/

#customer-review .mask{
  margin-top: 150px;
}

#customer-review img{
  height: 250px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


#customer-review h4{
  font-family: Kaushan Script;
  font-size: 30px;
  font-weight: bold;
  color: #d4af37;
}

#customer-review p{
  font-family: cursive;
  color: #fff;
}

#customer-review h6{
  font-family: cursive;
  color: #fff !important;
}

#customer-review strong{
  font-family: Kaushan Script;
  color: #d4af37;
}

footer .btn{
  background-color:  #d4af37 !important; 
}


